# profile
profileCPU/
profileMem/

# Binaries for programs and plugins
lbbftclient
!lbbftclient/
lbbftvcclient
!lbbftvcclient/
lbbftserver
!lbbftserver/
*.exe
*.exe~
*.dll

# other
keys/
.idea/
test.bat
scripts/linux/test.sh

lbbftvcclient
